html,body{
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #ebebeb;
}

.navbar-static-top {
  margin-bottom: 20px;
}

.content{
  margin-top: 10px;
}

.main-header{
  background-image:url(http://static.ghostchina.com/image/6/d1/fcb3879e14429d75833a461572e64.jpg);
  padding-top: 55px;
  padding-bottom: 55px;
  background-repeat: no-repeat;
  background-position: center 20%;
  -webkit-background-size: cover;
  background-size: cover;
}

.main-navigation{
  color:black;
  background: white;
}

a{
  color: black !important;
}

.notification{
  min-height:500px;
  background:white;
}

.panels{
  max-height:500px;
}
.wrap{
  margin: 20px auto;
}
.note{
  height:250px;
}

.record-panel{
  height:250px;
}

#record{
  min-height: 200px;
}

#notify{
  min-height: 200px;
}
